<mat-sidenav-container class="container my-theme" >
  <mat-sidenav #sidenav class="sidenav"  opened="true" mode="slide">
    <mat-toolbar>
      <h1>Eva</h1>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item >
        <a matLine routerLink="/dashboard">Dashboard</a>
      </mat-list-item>
      <mat-list-item >
        <a matLine routerLink="/stats">Stats</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content  class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
