<mat-toolbar class="dashboard route-heading">
  <h2>Dashboard</h2>
</mat-toolbar>
<div class="route-content">
  <div class="cards row clearfix">
    <donught-card text="User(s)|Watching" value="{{usersCount}}" from="10" class="one-third card"></donught-card>
    <donught-card text="Users|Drop" value="40" class="one-third card"></donught-card>
    <donught-card text="Users|Not Interested" value="60" class="one-third card"></donught-card>
  </div>
  <div class="cards row clearfix">

    <div class="two-third">
      <div class=" card">
        <p class="center">Live engagement preview</p>
        <p class="center link">Average time of update: every 1 sec</p>
        <app-chart
          [lineChartDatasets]="lineChartDatasets"
          [lineChartColors]="lineChartColors"
          [lineChartOptions]="lineChartOptions"
          [graphData]="graphData">
        </app-chart>
      </div>
      <users class="card" [usersCount]="usersCount" [users]="users"></users>
    </div>
    <div class="one-third">
      <div class="card dark">
        <p class="center">User emotion tracking</p>
        <p class="center">most represented emotions</p>
        <p class="center link">Live preview for user emotions</p>

        <div class="emotion" *ngFor="let emotionStat of emotionsStats; let i = index">
          <p>{{emotionStat.label}}
            <span class="float-right">{{emotionStat.percentage}}%</span>
          </p>
          <div class="progress">
            <div class="fill" [ngStyle]="{background: emotionStat.borderColor, width: emotionStat.percentage + '%'}"></div>
          </div>
        </div>
      </div>
      <div class='card dark'>
        <app-calendar></app-calendar>
      </div>
    </div>
  </div>
</div>
