<mat-toolbar class="dashboard route-heading">
  <h2>Browse</h2>
</mat-toolbar>
<div class="route-content">
  <div class="cards row clearfix">
    <div class="one-third card"><a routerLink="1cH2cerUpMQ"><img src="https://img.youtube.com/vi/1cH2cerUpMQ/hqdefault.jpg" alt="1cH2cerUpMQ"></a></div>
    <div class="one-third card"><a routerLink="yQkvayPz3iw"><img src="https://img.youtube.com/vi/yQkvayPz3iw/hqdefault.jpg" alt="yQkvayPz3iw"></a></div>
    <div class="one-third card"><a routerLink="4KUBX5GwV3M"><img src="https://img.youtube.com/vi/4KUBX5GwV3M/hqdefault.jpg" alt="4KUBX5GwV3M"></a></div>
  </div>
</div>
